<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <%= form_with(:url => friendship_index_path) do |f| %>
    <%= f.hidden_field :user_id, value: user_id %>
    <%= f.submit "Send Friend Request" %>
  <% end %>
</li>