<section class="users-section">
  <ul class="users-list">
    <% @pending_friends.each do |user| %>
     <li> 
        <%= user.name %> 
        <%= form_with(:url => accept_invitation_index_path ) do |f| %>
          <%= f.hidden_field :user_id, value: user.id %>
          <%= f.submit "Accept Request" %>
        <% end %>
        <%= form_with(:url => accept_invitation_path, :method => :delete ) do |f| %>
          <%= f.hidden_field :user_id, value: user.id %>
          <%= f.submit "Decline Request" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>